/*Tag Elements*/
body{
	height: 100%;
    background-image: url(../images/raceBackground.jpg);
}

header h1{
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: 40px;
    margin: 20px 0;
}


#mainContainer{
    border: 1px solid black;
    width: 800px;
    height: 550px;
    margin: 0 auto;
    background-image: url(../images/track.png);
}